<ibm-header name="Carbon" [brand]="'Test'" [route]="['/']">
    <ibm-header-global>
        <ibm-header-action title="action">
            <svg cdsIcon="language" size="20"></svg>
        </ibm-header-action>
        <ibm-header-action title="action">
            <svg cdsIcon="brightness-contrast" size="20"></svg>
        </ibm-header-action>
        <ibm-header-action title="action">
            <svg cdsIcon="user" size="20"></svg>
        </ibm-header-action>
        <ibm-header-action title="action">
            <svg cdsIcon="settings" size="20"></svg>
        </ibm-header-action>
    </ibm-header-global>
</ibm-header>